<!-- Sidebar -->
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/literature-review-site/index.html">Home</a></li>
                <li><a href="/literature-review-site/literature-review.html">Literature Review</a></li>
                <li><a href="/literature-review-site/arkit-samples.html">Sample Applications</a></li>
            </ul>
            <br />
                <section>
            <header class="major">
                <h2 style="margin-bottom: 10px;">Tutorials</h2>
            </header>
            <nav>
                <ul>
                    <li><a href="/literature-review-site/tutorials/arkit-hello-world/tutorial.html">Hello World</a></li>
                    <li><a href="/literature-review-site/tutorials/models-and-physics/tutorial.html">SceneKit Models and Physics</a></li>
                    <li><a href="/literature-review-site/tutorials/models-and-physicst /tutorial.html">SceneKit Models and Physics</a></li>
                    <li><a href="/literature-review-site/tutorials/lighting/tutorial.html">Dynamic Lighting</a></li>
                </ul>
            </nav>
        </section>
        </nav>



        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Patrick Gatewood. All rights reserved. Design: <a href="https://html5up.net">HTML5
                UP</a>.</p>
        </footer>

    </div>
